LEADER_DB_HOST=192.168.x.x
LEADER_DB_PORT=5432
LEADER_DB_NAME=replication_project
LEADER_DB_USER=postgres
LEADER_DB_PASSWORD=your_password

FOLLOWER_DB_HOST=192.168.x.x
FOLLOWER_DB_PORT=5432
FOLLOWER_DB_NAME=replication_project
FOLLOWER_DB_USER=postgres
FOLLOWER_DB_PASSWORD=your_password
