# GCP external IPs — get from: gcloud compute instances list
LEADER_DB_HOST=LEADER_EXTERNAL_IP
LEADER_DB_PORT=5432
LEADER_DB_NAME=replication_project
LEADER_DB_USER=ceng465
LEADER_DB_PASSWORD=ceng465pass

FOLLOWER_DB_HOST=FOLLOWER_EXTERNAL_IP
FOLLOWER_DB_PORT=5432
FOLLOWER_DB_NAME=replication_project
FOLLOWER_DB_USER=ceng465
FOLLOWER_DB_PASSWORD=ceng465pass
